@import "tailwindcss";
body {
  background-color: var(--background);
  font-family: var(--body-font);
  color: var(--default-text-color);
  opacity: 0;
  animation: fade-in-down 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: var(--background-image-url);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  opacity: 0;
  animation: var(--background-image-animation);
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down-with-delay {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-theme="dark"] img.dark-invert {
  filter: invert(1);
}

@keyframes pulse-bg {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(2);
  }
}