@import "tailwindcss";

:root {
  --background: #fbf3eb;
  --foreground: #32302e;
  --chatbox-background: #ffffff;
  --submit-background: #ebe6e7;
  --submit-hover: #d1d5dc;
  --response-background: #fbf9fa;
  --default-text-color: #32302e;
}

[data-theme="dark"] {
  --background: #32302e;
  --foreground: #fbf3eb;
  --chatbox-background: #000000;
  --submit-background: #364153;
  --submit-hover: #4a5565;
  --response-background: #22272c;
  --default-text-color: #fbf3eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-chatbox-background: var(--chatbox-background);
  --color-submit-background: var(--submit-background);
  --color-submit-hover: var(--submit-hover);
  --color-response-background: var(--response-background);
  --font-sans: var(--font-instrument-serif);
  --font-mono: var(--font-instrument-serif);
}

body {
  background-color: var(--background);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: var(--default-text-color);
  opacity: 0;
  animation: fade-in-down 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url(/WFDbackground.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  opacity: 0;
  animation: fade-in-down 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

a {
  text-decoration: underline;
  color: blue
}

h1 {
  font-size: 10vw;
  font-style: italic;
  font-family: "Instrument Serif", Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 2vw;
  font-weight: bold;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down-with-delay {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-theme="dark"] img.dark-invert {
  filter: invert(1);
}